<!DOCTYPE html>
<html>
  <head>
    <title>AboutPage</title>
  </head>
  <body>
    <header>
      <%= link_to 'Home', root_path %>
    </header>
    
    <section>
      <h1>Welcome to the Alpha Blog About Page</h1>
      <h2>by Devin Wood</h2>
      <p>As this is my first web application, it is not very in depth. I would like to learn things like</p>
      <ul>
        <li>Models with SQL</li>
        <li>Setting up stylesheets with css</li>
        <li>How the folder structure works</li>
        <li>Putting everything together in a nice package</li>
      </ul>
    </section>
    
    <footer>
      <p>Filler</p>
    </footer>
  </body>
</html>