<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
  </head>
  <body>
    <header>
      <%= link_to 'About', about_path %>
    </header>
    
    <section>
      <h1>Welcome to the Alpha Blog Home Page</h1>
      <h2>by Devin Wood</h2>
      <p>This is a test web application to be sure that I understand the basics of setting up a Rails application </br>
      I may create another one of these in order to be sure that I understand the steps</p>
    </section>
    
    <footer>
      <p>Filler</p>
    </footer>
  </body>
</html>